body {
    margin: auto;
    align-items: center;
    background-color: black;
  }
  
  .formulario {
    background-color: #212121;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 4rem;
    color: white;

  }
  
  /* input {
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
  } */

  .Senha {
    padding-bottom: 16px;
  }
  
  .btnEntrar {
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: gray;
    font-size: 15px;
    margin-bottom: 1px;
  }
  
  .btnEntrar:hover {
    background-color: #4F4F4F;
    color: white;
  }
  
  .btnCadastrar {
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: gray;
    font-size: 15px;
    margin-bottom: 16px;
  }
  
  .btnCadastrar:hover {
    background-color: #4F4F4F;
    color: white;
  }
  
  .erroEmail {
    color: yellow;
    font-size: 0.8rem;
    padding-left: 40px;
  }
  
  .erroSenha {
    color: yellow;
    font-size: 0.8rem;
    padding-left: 40px;
  }